<div class="contanier">
  <div class="ui card">
    <h1>Teams Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members">{{member.name}}</li>
    </ul>

    <div class="add-members-container">
      <input 
            #addInputName
             type="text" 
             placeholder="Name"
             (input) = "onInputName(addInputName.value)"
             [value]="newTeamMember.name"
             />
      <input 
            #addInputLevel
            type="text"
            placeholder="Level"
            (input)="OnInputLevel(addInputLevel.value)"
            [value]="newTeamMember.level"
            />
      <button (click)="addMember()">Add</button>
    </div>

    <div class="input-container">
      <input 
             #numberOfTeamsInput
             type="text"
             placeholder="# of teams"
             (input)="onInputNumberOfTeams(numberOfTeamsInput.value)"
             [value]="numberOfTeams"
             >
      <button (click)="generateTeams()">Generate</button>
    </div>

    <div>
      <p *ngIf="errorMessage" class="error-msg">{{errorMessage}}</p>
    </div>

    <div *ngIf="teams.length" class="teams-container">
      <app-team
      *ngFor="let team of teams; let i = index"
      [team]="team"
      [index]="i"
    ></app-team>
    </div>
  </div>    
</div>